
.small-image { 
  width: 200px;
  height: 200px;
  border-color: black;
  transform: translateY(-60px); 
}

.responsive-image {
      
  max-width: 100%;     
  width: 1440px;
  height: 10000px;
  transform: translateY(-230px); 
  
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


