
.small-image {
  width: 100%;    

  /* max-width: 250px;   
  height: auto;    
  margin-bottom: 1rem;  */
  object-position: center top;
  object-fit: none;
  object-position: 15px 10px;
  width: 100px;
}

.responsive-image {
      
  max-width: 100%;     
  width: 1440px;
  height: 10000px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


