
.small-image {
  width: 100%;    
    
  /* max-width: 250px;   
  height: auto;    
  margin-bottom: 1rem;  */
  object-position: center top;
  object-fit: none;
  object-position: 15px 10px;
  width: 100px;
}

.responsive-image {
  width: 500%;    
  max-width: 500%;    
  height: auto;  
}


