.question-display{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid black;
}

.travel-button{
    padding: 20px;
}