.image-container { display: flex; flex-direction: column; align-items: center; color: #b41818; }

.image-container { display: flex; flex-direction: column; align-items: center;
}

.responsive-image { max-width: 150%; height: auto; }
.small-image { max-width: 150%; height: auto; }

.fixed-size-image { width: 400px; height: 900px; object-fit: cover; }
.question-display{
    /* padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid black;
    margin-top: 40px; */

    position: fixed;
    inset: 0px;
    width: 12rem;
    height: 9rem;
    max-width: 800vw;
    max-height: 800dvh;
    margin: auto;
    border: 1px solid black;
    /* background-color: transparent; */
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.8);  /*White with 50% opacity */
    opacity: 1; 
     
}

.travel-buttons{
    padding: 1px;
    color: rgb(255, 255, 255);
    background-color: rgba(219, 9, 9, 0.8);  /*White with 70% opacity */
    font-size: 22px;
    font-family: cursive;
    font-weight: bolder;
    font-stretch: expanded ;
    border: 2px solid rgb(111, 5, 5);

}

.fontstylesize {
    font-size: 25px;
    color:black
    font-family: 'Times New Roman', Times, serif;
    
}
